<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="wrapper">

    <%# 投稿した内容がここに %>
    <div>
<%= keyword %>
      <% if(value) { %>
        <% for(var i = 0; i < value.length; i++) { %>
          <h2>
            <%= value[i].Title %>
          </h2>
          <p>
            <%= value[i].Description %>
          </p>
        <% } %>
      <% } %>
    </div>
    <%# 新しく追加した投稿用のフォーム %>
    <form action="/search" method="post">
      <input type="text" name="keyword" placeholder="名前を入力"/>
      <textarea name="text">

      </textarea>
      <input type="button" value="送信"/>
    </form>
 
    </div>
  </body>
</html>
